<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>aws-dynamodb-swift-example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5F631881CCA5DD4004DEF49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5F6319C1CCA5DD5004DEF49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5F631A71CCA5DD5004DEF49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
